#map-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tool-bar {
    height: max-content;
    background-color: #282a35;
    padding: 1em;
}

.tool-bar >  * {
    margin-left: 0.5em;
}

#map {
    height: 100%;
    width: 100%;
}
